cat <<EOF > models/aws_small_warehouse/model.config
<?xml version="1.0"?>
<model>
  <name>aws_small_warehouse</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>AWS RoboMaker</name>
    <email>support@aws.amazon.com</email>
  </author>
  <description>AWS Small Warehouse Environment</description>
</model>
EOF
